.card_project {
  min-width: 290px;
  height: 160px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  margin: 5px;
}
.card_project:hover {
  cursor: pointer;
  background-color: #ececec3c;
  box-shadow: 4px 4px 6px 2px rgba(0, 0, 0, 0.327);
}
.card_project svg {
  color: #999;
  font-size: 1.2rem;
}
.avatar {
  box-shadow: 0 0 0 3px #4fc3f7, inset 0 0 0 1px #0ba8ef;
}
.item_avatar {
  display: flex;
  gap: 5px;
  align-items: center;
}
.item_avatar span {
  color: #515151;
}
