.organization {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 16px;
  width: 100%;
}
.organization_title {
  display: flex;
  gap: 18px;
}
.card_project {
  display: flex;
  flex-direction: row;
  gap: 24px;
  overflow: scroll;
  height: 180px;
}
