.box_header {
  display: flex;
  justify-content: space-between;
  margin: 0 18px;
}
.cards {
  margin-right: 15px;
}

.title_text {
  direction: ltr;
  display: flex;
  gap: 5px;
}
.title_text span {
  color: #515151;
}
.box_header svg {
  cursor: pointer;
  font-weight: bold;
  color: #515151;
}
.box_header svg:hover {
  color: #000;
}
.text span:first-child {
  font-style: italic;
}
